<nav class="navbar">
  <div class="container">
    <div class="menus">
      <ul class="topMenu left">
        <li >
          <div class="dice-img">
            <a href="/"><img src="./images/perspective-dice-white.png" alt=""></a>
          </div>
        </li>
      </ul>
      <ul class="topMenu right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
