<% include ./partials/header %>
  <style media="screen">
      .backImg {
        background-image: url(/images/my-picture.png);
        background-position:right center;
        background-size: contain;
        background-repeat: no-repeat;
      }
  </style>
  <% include ./partials/nav %>

  <div class="container">
    <div class="info">
      <h4>The One and Only</h4>
      <p>My name is Amir Abdihakin Ismail, I live in Muqdisho Somalia,
        currently I am in my Last of four years studying Computer Science
        at Benadir Univerysity (Zobe).
      </p>
      <p>
        I started my journy in web designe and development world back in 2014 at the time I wanted to
        become a web desinger and started learning html and css,
        as I was styding these languages I started to realize the passion I have
        for web development in genenral and started to explore more and more about
        how to become a fullstack web developer.
      </p>
      <p>
        Now, after roughly 5 years later of learning <strong>HTML5</strong>, <strong>CSS3</strong>,
         <strong>Javascript</strong>, <strong>jQuery</strong>, <strong>NodeJs</strong>,
         <strong>C#</strong> and <strong>ASP.NET MVC</strong>.
         <br>
      </p>
    </div>
  </div>
  <script type="text/javascript">
    document.body.classList.add("backImg");
  </script>
  <% include ./partials/footer %>
