<% include ./partials/header %>

  <div class="contact">
    <div class="container">
      <div class="contact-details">
        <div class="back-to-main">
          <a href="/">Back to Main Home page</a>
        </div>
        <h4>You can find me  At:</h4>
        <div class="social">
          <ul>
            <li class="linked"><img src="/images/linkedIn.png" alt=""><a href="/linkedin" target="_blank"> Amir Zaki </a> </li>
            <li class="fb"><img src="/images/fb.png" alt=""> <a href="/fb"> Amir Zaki</a> </li>
            <li class="twitter"><img src="/images/twitter.png" alt=""><a href="/twitter" target="_blank">@amirrzaki</a> </li>
          </ul>
          <li class="gplus">Or send me a message mailto @ <strong>cabdall055@gmail.com</strong></li>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% include ./partials/footer %>
